body {
    background-color:rgb(33, 34, 40);
    color:white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
    margin: 0px;
}
.logo {
    color:white;
    font-size: 38px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-top: 50px;
    margin-bottom: 40px;
}
nav .bar {
    background-color: darkred;
    text-align: center;
    letter-spacing: 2px;
}
.bar {
    list-style-type: none;
    margin: 0px;
    padding: 10p;
    font-size: 24px;
    min-height: 30px;
    line-height: 200%;
}
.bar > li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 2px solid white;
}
.bar > li:first-child {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 2px solid white;
}
.bar a {
    color: white;
    text-decoration: none;
}
.bar a:hover {
    font-weight: bold;
    color: rgb(6, 12, 42);
}
.bar .AfterClick {
    font-weight: 500;
    color: rgb(229, 193, 132);
}
.welcome {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 950px;
    text-align: center;
    padding: 0px;
}
.red_label {
    font-size: 40px;
    font-weight: 1000;
    letter-spacing: 3px;
    color:rgb(196, 1, 1);
    margin-top: 30px;
    margin-bottom: 20px;
}
.blue_label{
    color:rgb(51, 132, 236);
    font-size: 24px;
    font-weight: 1000;
    margin-top: 15px;
}
.yellow_label{
    color:rgb(198, 178, 28);
    font-size: 24px;
    font-weight: 1000;
    margin-top: 15px;
}
#crest img {
    width: 200px;
    height: auto;
    display: inline-block;
    margin-top: 10px;
}
.entries {
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 80px;
    margin-top: 0px;
}
#section_news {
    background-color: rgb(18, 19, 22);
}
.news {
    background-color: rgb(56, 58, 68);
    padding: 10px;
    text-align: justify;
    margin-top: 40px;
    border-radius: 10px;
}
.news_img {
    display: inline-block;
    margin-left: 30px;
    width: 170px;
}
.news_img img {
    width: 150px;
    height: auto;
}
.news_txt {
    font-size: 18px;
    display: inline-block;
    width: 700px;
}
.socials {
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    text-align: center;
    padding-bottom: 70px;
    margin-bottom: 150px;
}
.fb {
    float: left;
    background-color: rgb(24, 119, 242);
    padding: 20px;
    color: white;
    font-weight: 1000;
    text-decoration: none;
    font-size: 19px;
    border-radius: 5px;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    margin-left: 183px;
}
.fb:hover {
    background-color: rgb(92, 155, 237);
}
.fb img {
    width: 70px;
    height: auto;
    margin-bottom: 10px;
}
.ig {
    float: left;
    background-color:rgb(224, 83, 130) ;
    padding: 20px;
    color: rgb(0, 0, 0);
    font-weight: 1000;
    text-decoration: none;
    font-size: 19px;
    border-radius: 5px;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    margin-left: 50px;
}
.ig:hover {
    background-color: rgb(223, 122, 156);
}
.ig img {
    width: 70px;
    height: auto;
    margin-top: 5px;
}
.x {
    float: left;
    background-color:rgb(0, 0, 0) ;
    padding: 20px;
    color: white;
    font-weight: 1000;
    text-decoration: none;
    font-size: 19px;
    border-radius: 5px;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    margin-left: 50px;
}
.x:hover {
    background-color: rgb(25, 25, 25);
}
.x img {
    width: 70px;
    height: auto;
    margin-top: 5px;
}
#aboutme {
    width: 100%;
    text-align: center;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(18, 19, 22);
}
.scrollUp {
    width: 120px;
    height: 120px;
    text-decoration: none;
    background: url("img/scrollUp.png") no-repeat 0px 0px;
    position: fixed;
    right: 30px;
    bottom: 35px;
    display: none;
    cursor: pointer;
}
#date{
    font-size: 30px;
    color: rgb(230, 197, 139);
    margin-left: 30px;
    margin-right: 30px;
}
nav .typeOf {
    background-color: rgb(33, 34, 40);
    text-align: center;
    letter-spacing: 2px;
}
.typeOf {
    list-style-type: none;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10p;
    font-size: 20px;
    min-height: 30px;
    line-height: 200%;
}
.typeOf > li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 2px solid white;
}
.typeOf > li:first-child {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 2px solid white;
}
.typeOf a {
    color: white;
    text-decoration: none;
}
.typeOf a:hover {
    font-weight: bold;
    color: rgb(51, 132, 236);
}
#section_games {
    background-color: rgb(18, 19, 22);
}
.games {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 80px;
    margin-top: 0px;
}
.matches {
    background-color: rgb(56, 58, 68);
    padding: 10px;
    text-align: justify;
    margin-top: 40px;
    border-radius: 40px;
}
.match_txt {
    text-align: center;
    font-size: 22px;
    display: inline-block;
    width: 530px;
}
#section_players {
    background-color: rgb(18, 19, 22);
}
.players {
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 80px;
    margin-top: 0px;
}
.player {
    background-color: rgb(56, 58, 68);
    padding: 10px;
    text-align: justify;
    margin-top: 40px;
    border-radius: 40px;
}
.player_txt {
    text-align: center;
    font-size: 22px;
    display: inline-block;
    width: 730px;
}
#team img {
    width: 420px;
    height: auto;
    display: inline-block;
    margin-top: 10px;
}
#section_info {
    background-color: rgb(18, 19, 22);
}
.Information {
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 80px;
    margin-top: 0px;
}
.info {
    background-color: rgb(56, 58, 68);
    padding: 10px;
    text-align: justify;
    margin-top: 40px;
    border-radius: 40px;
}
.info_txt {
    text-align: center;
    font-size: 22px;
    display: inline-block;
    width: 730px;
}
#section_events {
    background-color: rgb(18, 19, 22);
}
.events {
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 80px;
    margin-top: 0px;
}
.event {
    background-color: rgb(56, 58, 68);
    padding: 10px;
    text-align: justify;
    margin-top: 40px;
    border-radius: 40px;
}
.event_txt {
    text-align: center;
    font-size: 22px;
    display: inline-block;
    width: 730px;
}
legend {
    color:rgb(51, 132, 236);
    font-size: 26px;
    font-weight: 1000;
    margin-top: 10px;
}
#comment {
    resize: none;
}
#section_events_after {
    background-color: rgb(18, 19, 22);
    padding-top: 20px;
}